In [2]:
import pandas as pd

In [3]:
cd ..

/home/avani/src

In [4]:
envs = ["bpi_12_w", "helpdesk", "traffic_ss", "bpi2019"]
for env_name in envs:
    dname = "dataset/preprocessed/"+env_name+"_d2_"
    val_data = dname+'val_RL.pkl'
    test_data = dname+'test_RL.pkl'
    dfv = pd.read_pickle(val_data)
    dft = pd.read_pickle(test_data)
    frames = [dfv,dft]
    test = pd.concat(frames)
    test.to_pickle(dname+'test.pkl')

In [5]:
test

,0,1,2,3,4,5,6,7,8,9,...,27,28,29,30,31,32,duration_time,remaining_time,class,CaseID
65,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0.000000,66.521528,1,16
66,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,6.664583,59.856944,2,16
67,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0.999306,58.857639,3,16
68,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,58.857639,0.000000,4,16
131,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0.000000,55.993750,1,35
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101655,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0.000000,83.173611,1,24886
101656,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,9.897222,73.276389,15,24886
101657,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,32.038194,41.238194,2,24886
101658,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,5.091667,36.146528,3,24886
101659,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,36.146528,0.000000,4,24886

In [10]:
dname = "dataset/preprocessed/"+env_name+"_d2_"
test_data = dname+'test.pkl'
td = pd.read_pickle(test_data)

In [18]:
test_data

'dataset/preprocessed/bpi2019_d2_test_RL.pkl'

In [7]:
dft

,0,1,2,3,4,5,6,7,8,9,...,27,28,29,30,31,32,duration_time,remaining_time,class,CaseID
22,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0.000000,13.635417,28,6
23,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0.550694,13.084722,1,6
24,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,12.938194,0.146528,2,6
25,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0.146528,0.000000,3,6
45,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0.000000,87.280556,1,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101655,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0.000000,83.173611,1,24886
101656,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,9.897222,73.276389,15,24886
101657,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,32.038194,41.238194,2,24886
101658,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,5.091667,36.146528,3,24886
101659,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,36.146528,0.000000,4,24886

In [11]:
len(dft["CaseID"].unique()), len(dfv["CaseID"].unique()), len(td["CaseID"].unique())

(4182, 1672, 5854)

In [12]:
4182 + 1672

5854

In [8]:
dfv

,0,1,2,3,4,5,6,7,8,9,...,27,28,29,30,31,32,duration_time,remaining_time,class,CaseID
65,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0.000000,66.521528,1,16
66,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,6.664583,59.856944,2,16
67,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0.999306,58.857639,3,16
68,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,58.857639,0.000000,4,16
131,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0.000000,55.993750,1,35
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101623,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,14.123611,35.854861,10,24877
101624,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,35.854861,0.000000,4,24877
101625,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0.000000,21.324306,1,24878
101626,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,17.215972,4.108333,17,24878
101627,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,4.108333,0.000000,2,24878